<%- include('./partials/header'); -%>
<%- include('./partials/navtop'); -%>
<%- include('./partials/navbar'); -%>

         <!-- /#sidebar-wrapper -->
 
         <!-- Page Content -->
         <div id="page-content-wrapper">
             <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                 <span class="hamb-top"></span>
                 <span class="hamb-middle"></span>
                 <span class="hamb-bottom"></span>
             </button>
             <div class="container">
                 <div class="row">
                     <div class="col-lg-10 text-center">
                         <h1>Bienvenue sur votre Dashboard <%= user.username.toUpperCase() %></h1>
                     </div>
                 </div>
             </div>
         </div>
         <!-- /#page-content-wrapper -->
     </div>
     <!-- /#wrapper -->

<%- include('./partials/footer'); -%>