<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>
<h1>LISTE DES BÂTIMENTS</h1>
<p><%=listBatiments%></p>

  <table class="table">
    <thead">
      <th scope="col">Bâtiments</th>
      <th scope="col">Adresse</th>
      <th scope="col">CP</th>
      <th scope="col">VILLE</th>
      <th scope="col">PCE</th>
      <th  class="pull-right" scope="col">ACTION</th>
      
    </thead>
    <% batiments.forEach(function(batiment){%>
      <tbody>
        <tr>
          <td><%=batiment.batiment %></td>
          <td><%=batiment.adresse %></td>
          <td><%=batiment.zip %></td>
          <td><%=batiment.ville %></td>
          <td><%=batiment.pce %></td>
          <td><button class="btn btn-primary pull-right">Accéder à la fiche</button></td>
        </tr>
    <%});%> 
      </tbody>
  </table>
</br>
<%- include('./partials/footer'); -%>


















